<!DOCTYPE>
<html>
    <head>
        <title>
            Add Cats
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
    </head>
    <body>
        <form  class="navbar-form navbar-left" action="/" method = 'POST'>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="name" name="name">
                <input type="text" class="form-control" placeholder="picture link" name="pict">
                <div class="input-group-btn">
                        <button class="btn btn-default" type="submit" value = "submit">
                          <i>Submit</i>
                        </button>
                </div>
            </div>
        </form>
    </body>
</html>